services:
  redis:
    image: redis:alpine
    container_name: redis-broker
    ports:
      - "6379:6379"
    restart: unless-stopped

  order-service:
    build: ./order_service
    container_name: order-service
    depends_on:
      - redis
    environment:
      - REDIS_HOST=redis
      - PYTHONUNBUFFERED=1
    restart: unless-stopped

  notification-service:
    build: ./notification_service
    container_name: notification-service
    depends_on:
      - redis
    environment:
      - REDIS_HOST=redis
      - PYTHONUNBUFFERED=1
    restart: unless-stopped